@import "tailwindcss";
@import "./style/game.css";

* {
  box-sizing: border-box;
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
  height: 100vh;
}

img {
  -webkit-touch-callout: none; /* Disables the long-press popup menu */
  -webkit-user-select: none; /* Prevents image/text selection on iOS */
  -moz-user-select: none; /* Prevents selection on Firefox */
  -ms-user-select: none; /* Prevents selection on IE/Edge */
  user-select: none; /* Standard property */
  pointer-events: none; /* Disables all mouse interactions with the image */
}
